---
import Container from "../components/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Your Contact Page" description="This is the contact page of your website. Feel free to customize it to your liking">
    <main>
        <section>
            <Container>
                <h1>Your Contact Page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rerum quibusdam, magnam pariatur corrupti obcaecati unde dolore, excepturi hic dolorum iste expedita laborum, omnis nulla eligendi doloremque maiores eum sunt!</p>
            </Container>
        </section>
    </main>

</MainLayout>