---
import Container from "./Container.astro"
---

<footer>
   <Container>
        <p>Copyright &copy; <span id="year"></span> | Astro Starter Theme</p>
   </Container>
</footer>

<script>
    import "../js/script.js"
</script>

<style>
    footer {
        padding: 2vw;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }
</style>